<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Cashew</title>
    <meta name="apple-mobile-web-app-title" content="Cashew">
    <meta name="application-name" content="Cashew">
</head>
